<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clean Master</title>
    <link rel=" stylesheet" th:href="@{/css/agenda.css}" >
    <link rel="stylesheet" th:href="@{/css/global.css}">
</head>

<body>
    <main>
        <div id="header">
        <h2 th:if="${escliente}">Esta semana tienen reservado </h2>
        <h2 th:if="${!escliente}">tu agenda semanal</h2>
        <select id="semana">
            <option value="0">Todos los dias </option>
            <option value="1">Lunes</option>
            <option value="2">Martes</option>
            <option value="3">Miercoles</option>
            <option value="4">Jueves</option>
            <option value="5">Viernes</option>
            <option value="6">Sabado</option>
            <option value="7">Domingo</option>
        </select>
        </div>
    <div id="main">
        <div id="1"><h4>Lunes:</h4></div>
        <div id="2"><h4>Martes:</h4></div>
        <div id="3"><h4>Miercoles</h4></div>
        <div id="4"><h4>Jueves:</h4></div>
        <div id="5"><h4>Viernes:</h4></div>
        <div id="6"><h4>Sabado:</h4></div>
        <div id="7"><h4>Domingo:</h4></div>
    </div>
    </main>
</body>
<script th:src="@{/js/agenda.js}"></script>
<script th:src="@{/js/global.js}"></script>
</html>