<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clean Master</title>
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/direcciones.css}">
</head>

<body>
<main>

</main>
</body>
<script th:src="@{/js/global.js}"></script>
<script th:src="@{/js/direcciones.js}" src="../../static/js/direcciones.js"></script>
</html>