<!DOCTYPE html>
<html  lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clean Master</title>
  <link rel="stylesheet" th:href="@{/css/global.css}" >
  <link rel=" stylesheet" th:href="@{/css/reservas.css}" >
</head>

<body>
<header>
  <img th:src="@{/img/background.png}" alt="background" id="background">
  <div>
    <img th:src="@{/img/logo.png}" id="logo" alt="logoempresa">
    <nav>
      <button id="areaemple">
        <a th:href="@{/areaempleados/auth}">Area Empleados</a>
      </button>
      <button id="areacli">
        <a th:href="@{/areaclientes/auth}">Area Clientes</a>
      </button>
    </nav>
  </div>

</header>
<main>

  <h1>Titular</h1>

</main>
<footer>
  <img src="/img/logo.png" alt="logo">
  <div>
    <a th:href="@{/contactar}">Contacta con nosotros</a>
    <a th:href="@{/terminos}">Terminos y condiciones</a>
  </div>
</footer>
<script type="text/javascript" th:src="@{/js/global.js}">
  <script type="text/javascript" th:src="@{/js/reservas.js}">
</script>
</body>
</html>