

input[type="text"], input[type="password"]{
    height: 40px;
    width: 300px;
    padding: 10px;
    border-radius: 30px;
}

#showerrors{
    color: darkred;
    display: none;
    text-align: center;
}
button{
    align-self: center;
    justify-self: center;
}
main > div > a {
    text-decoration-line: underline;
    color: #0746ac;
}
label{
    padding: 5px;
     font-size: 20px;
}

div {
    display: grid;
    text-align: left;
}

