#id-buscador{
    padding: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
}

h1,h2{
    text-align: left;
}
main{
    padding: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#contenedor-empleados{
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#buscador{
    height: 40px;
    width: 300px;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 10px;
}

button{
    background-color: #D3BCA7;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #D3BCA7;
    height: 50px;
    transition: background-color 1s;
}
button > a {
    color: white;
    font-family: 'Lexend Deca';
    font-size: 25px;
}

button:hover{
    background-color: #a3978c;
}