::-webkit-scrollbar{
    width: 0;
}
main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    align-items: center;
}
h1 {
    text-align: center;
}
nav{
    width: 100%;
    overflow: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
    padding: 10px;
    height: 50px;
    justify-content: space-around;
}

nav > a {
    font-size: 22px;
    padding: 10px;
}

nav > a:hover {
    color:white;
    background-color: #7d7d7d;
}

.activo {
    color: black;
}

.inactivo {
    color: #7d7d7d;
}

iframe{
    width: 100%;
    border: none;
    height: 100%;
}

.hola{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8); /* Color de fondo (negro semi-transparente) */
    z-index: 9999; /* Asegura que esté encima de todo */
}

