main {
    margin-top: 20px;
    display: grid;
}
main > div {
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
}

#calendario {
    max-width: 350px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#encabezado-calendario {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#dias-calendario {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    text-align: center;
}

.dia {
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.dia:hover {
    background-color: #ddd;
}

.seleccionado {
    background-color: #4caf50;
    color: white;
}

.dia.deshabilitado {
    color: #ccc;
    pointer-events: none;
}
#contendor-tipos ,#direcciones-contenedor{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

select {
    padding: 5px;
    border-radius: 30px;
    border: 1px solid #ccc;
}

#direciones > br {
    margin: 20px 0;
}

#direciones{
    background-color: #7b847b;
    border-radius: 10px;
}

#add-direccion{
    margin: 10px;
}

#reservar {
    justify-self: center;
    margin-top: 10px;
}

textarea{
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #7b847b;
    height: 100px;
}